.player-form, .teams-wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

*{
  box-sizing: border-box;
}
body{
  background: #000059;
}

.teamColumn ,.team{
  flex-direction: column;
  flex-basis: 50%;
  padding: 10px;
}

.playerInput {
  display: block;
  flex-grow: 1;
  width: 100%;
}

.playerInput:not(:last-child) {
  margin-bottom: 10px;
}

.submit {
  flex-grow: 1;
  margin-top: 1rem;
}

.player{
  padding:1em;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.player__icon{
  width:100px;
  height:100px;
  border:1px solid #021a40;
}
.team:first-child, .leftSide{
  background:#68a3e5;
}
.team:last-child, .rightSide{
  background: palevioletred;
}